<?xml version="1.0"?>
<launch>
        <param name="use_sim_time" value="false"/>

        <!-- node  -->
        <node pkg="my_serial" type="my_serial" name="my_serial" output="screen"/>
	<node pkg="ga_pid" type="ga_pid_node" name="ga_pid_node" output="screen"/>
        <!-- plot -->
        <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot"/>

</launch>

